<section class="container">
  <section id="create-cohort">
    <p id="cohort-box-title">Create a New Cohort</p>
      <%= render partial: 'cohort_form', user: @user %>
    </form>
  </section>
  <section id="Cohorts">
    <h3>Cohorts</h3>
    <ul>
      <% @cohorts.each do |cohort| %>
        <li><%= cohort.name %>
          <% end %>
    </ul>
  </section>
<hr>
  <section id="pitch-container">
    <h3>First Round Pitches</h3>

        <div class="pitch-content">
        <%= form_for :pitch, url: pitch_path do |f| %>
          <table>
            <thead>
             <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Student</th>
                <th>Votes</th>
                <th>Choose Me</th>
             </tr>
            </thead>

            <tbody>
             <% @pitches.each do |pitch| %>
               <tr>
                 <td><%= pitch.working_title %></td>
                 <td><%= pitch.description %></td>
                 <td><%= pitch.user.name %></td>
                 <td><%= pitch.total_votes %></td>
                 <td><%= fields_for "pitch[chosen]" do |form| %>
                      <%= form.check_box :true %>
                      <% end %>
                     </td>
               </tr>
             <% end %>
           </tbody>
           </table>
           <div class="actions btn btn-lg">
             <%= f.submit "Select Top Pitches" %>
           </div>
             <% end %>
        </div>

  </section>
</section>
