<section class="container">
  <section id="create-cohort">
    <p id="cohort-box-title">Create a New Cohort</p>
    <%= render partial: 'admins/cohort_form', layout: false, locals: {user: @user} %>
  </section>
  <section id="Cohorts">
    <h3>Cohorts</h3>
    <ul class="cohort-list-container">
    <% @cohorts.each do |cohort| %>
      <li><%= cohort.name %></li>
    <% end %>
    </ul>
  </section>
  <section id="pitch-container">
    <h3>Pitches</h3>
    <div class="pitch-content">
      <table class="admin-view">
        <tr>
          <td class="column-header title-header">Working Title</td>
          <td class="column-header">Description</td>
          <td class="column-header pitch-check-box">Select Pitch</td>
        <tr>
        <% @pitches.each do |pitch| %>
          <tr>
            <td class="title-column"><%= pitch.working_title %></td>
            <td><%= pitch.description %></td>
            <td class="pitch-author-column"><%= pitch.user.name %></td>
            <%= fields_for "pitch[chosen]" do |form| %>
              <td><%= form.check_box :true, class: 'vote-btn-table-row' %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </section>
</section>
