
    <div class="round-2-voting">
      <h2>Round 2 Voting:</h2>
      <ul class="round-2-pitches">
      <% @pitches.each do |pitch| %>
   ggreh       <% if pitch.round.name == "second" %>
            <li class="pitch">
              <%=  pitch.working_title %> - <%= pitch.description %>
              <% if @second_round.can_vote == true %>
                <!-- vote button for round 2 - currently doesn't work -->
                <!-- button needs to be changed to drop-down menu with 1,2,3,4,5 rankings -->
                <%= button_to "Vote", votes_path %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="round-1-voting">
      <h2>Round 1 Voting:</h2>
      <ul class="round-1-pitches">
        <% @pitches.each do |pitch| %>
          <% if pitch.round.name == "first" %>
            <li class="pitch">
              <%=  pitch.working_title %> - <%= pitch.description %>
              <% if @first_round.can_vote == true %>
                <!-- vote button for round 1 - currently doesn't work -->
                <%= button_to "Vote", votes_path %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
     </div>




