<div class="container">

  <div class="sidebar">
    <% if @user.pitches.count < 4 %>
      <h2>Add a Pitch!</h2>
      <!-- form for adding a new pitch - currently does not work - this will work with AJAX -->
      <%= form_for :pitch, url: pitches_path, :html => { class: "pure-form pure-form-aligned new-pitch-form" } do |f| %>
      <fieldset>
        <label for="title">Title:</label>
        <%= f.text_field :working_title %>
        <label for="description">Description:</label>
        <%= f.text_area :description %>
        <button id="add-pitch-btn" class="pure-button pure-button-primary sign-up">Add Pitch</button>
      </fieldset>
      <% end %>
    <% elsif @user.pitches.count >= 4 %>
      <h2>Thanks! You've already submitted four pitches.  Let the voting commence!</h2>
    <% end %>
  </div>
  <% if @final_pitches %>
    <div class="main"
      <div class="final-projects">
        <h2>Final Projects!</h2>
        <ul class="final-pitches">
          <% @final_pitches.each do |pitch| %>
            <% if pitch.round.name == "final" %>
              <li class="pitch">
                <%=  pitch.working_title %> - <%= pitch.description %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @second_round_pitches %>
    <div class="round-2-voting">
      <h2>Round 2 Voting:</h2>
      <ul class="round-2-pitches">
      <% @second_round_pitches.each do |pitch| %>
        <li class="pitch">
          <%=  pitch.working_title %> - <%= pitch.description %>
          <% if @second_round.can_vote %>
            <!-- vote button for round 2 - currently doesn't work -->
            <!-- button needs to be changed to drop-down menu with 1,2,3,4,5 rankings -->
            <%= form_for @vote do |f| %>
              <button class="button-xsmall vote-btn pure-button pure-button-primary sign-up">Vote</button>
            <% end %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @first_round_pitches %>
    <div class="round-1-voting">
      <h2>Round 1 Voting:</h2>
      <table class="round-1-pitches">
        <tr class="pitch-table-row-header">
          <td class="column-header">Working Title</td>
          <td class="column-header">Description</td>
          <% if @first_round.can_vote %>
            <td class="column header vote-header">Vote for Pitch</td>
          <% end %>
        </tr>
        <% @first_round_pitches.each do |pitch| %>
          <% if pitch.round.name == "first" %>
            <tr>
              <td><%=  pitch.working_title %></td>
              <td><%= pitch.description %></td>
              <% if @first_round.can_vote %>
                <td class="vote-btn-table-row">
                  <!-- vote button for round 1 - currently doesn't work -->
                  <form class="vote-btn" method="post" action="/votes">
                    <button class="button-xsmall vote-btn pure-button pure-button-primary sign-up">Vote</button>
                  </form>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>

</div>
